In [1]:
import os

# import pyspark
import pyspark
from pyspark.sql import SparkSession

In [2]:
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
  		#packages
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.3.1,software.amazon.awssdk:bundle:2.17.178,software.amazon.awssdk:url-connection-client:2.17.178')
  		#SQL Extensions
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions')
  		#Configuring Catalog
        .set('spark.sql.catalog.spark_catalog','org.apache.iceberg.spark.SparkSessionCatalog')
        .set('spark.sql.catalog.spark_catalog.type','hive')
        .set('spark.sql.catalog.iceberg', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.iceberg.type', 'hadoop')
        .set('spark.sql.catalog.iceberg.warehouse', 'iceberg-warehouse')
)

In [3]:
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

:: loading settings :: url = jar:file:/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/anshumanr/.ivy2/cache
The jars for the packages stored in: /Users/anshumanr/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.4_2.12 added as a dependency
software.amazon.awssdk#bundle added as a dependency
software.amazon.awssdk#url-connection-client added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-2f5a7637-0acf-440f-977f-49f992afc86b;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.3.1 in central
	found software.amazon.awssdk#bundle;2.17.178 in central
	found software.amazon.eventstream#eventstream;1.0.1 in central
	found software.amazon.awssdk#url-connection-client;2.17.178 in central
	found software.amazon.awssdk#utils;2.17.178 in central
	found org.reactivestreams#reactive-streams;1.0.3 in central
	found software.amazon.awssdk#annotations;2.17.178 in central
	found org.slf4j#slf4j-api;1.7.30 in local-m2-cache
	found software.amazon.awssdk#http-client-spi;2.17.178 in central
	found software.amazon.awssdk#metrics-spi;2.17.178 in central
:: resolution report :: resolve 838ms :: artifacts dl 75ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.3.1 from central in [default]
	org.reactivestreams#reactive-streams;1.0.3 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from local-m2-cache in [default]
	software.amazon.awssdk#annotations;2.17.178 from central in [default]
	software.amazon.awssdk#bundle;2.17.178 from central in [default]
	software.amazon.awssdk#http-client-spi;2.17.178 from central in [default]
	software.amazon.awssdk#metrics-spi;2.17.178 from central in [default]
	software.amazon.awssdk#url-connection-client;2.17.178 from central in [default]
	software.amazon.awssdk#utils;2.17.178 from central in [default]
	software.amazon.eventstream#eventstream;1.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   0   ||   10  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-2f5a7637-0acf-440f-977f-49f992afc86b
	confs: [default]
	0 artifacts copied, 10 already retrieved (0kB/19ms)
23/08/21 19:26:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Spark Running

In [4]:
spark.sql("Create table iceberg.db.Events(id int,name string,artist string,entry_price int,city string) using iceberg partitioned by (artist)")

DataFrame[]

In [5]:
df = spark.read.format("csv").options(inferSchema='True',header='True',delimiter=',').load("/Users/anshumanr/Documents/Iceberg/dataset/event.csv")

In [6]:
df.write.mode('append').saveAsTable("iceberg.db.Events")

In [7]:
spark.sql("Select * from iceberg.db.Events").show(50)

+---+--------------------+-------------+-----------+--------------+
| id|                name|       artist|entry_price|          city|
+---+--------------------+-------------+-----------+--------------+
|  1|Summer Music Fest...|Ariana Grande|        100|   Los Angeles|
| 11|Summer Music Fest...|Ariana Grande|        100|         Paris|
| 21|Summer Music Fest...|Ariana Grande|        100|         Tokyo|
|  8|       Reggae Nights|   Bob Marley|         60|      Kingston|
| 18|       Reggae Nights|   Bob Marley|         60|   Montego Bay|
| 28|       Reggae Nights|   Bob Marley|         60|     Ocho Rios|
|  4|          EDM Nights|Calvin Harris|        120|     Las Vegas|
| 14|          EDM Nights|Calvin Harris|        120|         Miami|
| 24|          EDM Nights|Calvin Harris|        120|   New Orleans|
|  6|    Hip Hop Showcase|        Drake|        110|       Toronto|
| 16|    Hip Hop Showcase|        Drake|        110|       Atlanta|
| 26|    Hip Hop Showcase|        Drake|        110|       Houston|
|  3|    Rock in the Park|    Green Day|         70|       Chicago|
| 13|    Rock in the Park|    Green Day|         70|       Seattle|
| 23|    Rock in the Park|    Green Day|         70| San Francisco|
|  2|   Winter Jazz Night|  John Legend|         80|      New York|
| 12|   Winter Jazz Night|  John Legend|         80|        London|
| 22|   Winter Jazz Night|  John Legend|         80|        Berlin|
|  5|  Country Music Fest|   Luke Bryan|         90|     Nashville|
| 15|  Country Music Fest|   Luke Bryan|         90|        Austin|
| 25|  Country Music Fest|   Luke Bryan|         90|        Dallas|
| 10|  Latin Dance Fiesta|      Shakira|         95|     Barcelona|
| 20|  Latin Dance Fiesta|      Shakira|         95|Rio de Janeiro|
| 30|  Latin Dance Fiesta|      Shakira|         95|   Mexico City|
|  9|    Indie Music Fest|  Tame Impala|         85|     Melbourne|
| 19|    Indie Music Fest|  Tame Impala|         85|        Sydney|
| 29|    Indie Music Fest|  Tame Impala|         85|         Perth|
|  7|   Classical Concert|     Yo-Yo Ma|         75|        Boston|
| 17|   Classical Concert|     Yo-Yo Ma|         75|    Washington|
| 27|   Classical Concert|     Yo-Yo Ma|         75|       Chicago|
+---+--------------------+-------------+-----------+--------------+

# Tags

In [8]:
spark.sql("select * from iceberg.db.Events.snapshots").show()

+--------------------+-------------------+---------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+---------+---------+--------------------+--------------------+
|2023-08-21 19:26:...|8811495956220048118|     null|   append|iceberg-warehouse...|{spark.app.id -> ...|
+--------------------+-------------------+---------+---------+--------------------+--------------------+

In [9]:
spark.sql("ALTER TABLE iceberg.db.Events CREATE TAG tag1_21Aug")

ANTLR Tool version 4.8 used for code generation does not match the current runtime version 4.9.3
ANTLR Tool version 4.8 used for code generation does not match the current runtime version 4.9.3
23/08/21 19:26:22 WARN BaseTransaction: Failed to load metadata for a committed snapshot, skipping clean-up

DataFrame[]

In [10]:
spark.sql("insert into iceberg.db.Events values(31,'MoonLight Concert','Weekend',200,'Cupertino'),(32,'MoonLight Concert','Weekend',200,'Bay Area')")

DataFrame[]

In [11]:
spark.sql("Select * from iceberg.db.Events").show(50)

+---+--------------------+-------------+-----------+--------------+
| id|                name|       artist|entry_price|          city|
+---+--------------------+-------------+-----------+--------------+
|  1|Summer Music Fest...|Ariana Grande|        100|   Los Angeles|
| 11|Summer Music Fest...|Ariana Grande|        100|         Paris|
| 21|Summer Music Fest...|Ariana Grande|        100|         Tokyo|
| 31|   MoonLight Concert|      Weekend|        200|     Cupertino|
| 32|   MoonLight Concert|      Weekend|        200|      Bay Area|
|  8|       Reggae Nights|   Bob Marley|         60|      Kingston|
| 18|       Reggae Nights|   Bob Marley|         60|   Montego Bay|
| 28|       Reggae Nights|   Bob Marley|         60|     Ocho Rios|
|  4|          EDM Nights|Calvin Harris|        120|     Las Vegas|
| 14|          EDM Nights|Calvin Harris|        120|         Miami|
| 24|          EDM Nights|Calvin Harris|        120|   New Orleans|
|  6|    Hip Hop Showcase|        Drake|        110|       Toronto|
| 16|    Hip Hop Showcase|        Drake|        110|       Atlanta|
| 26|    Hip Hop Showcase|        Drake|        110|       Houston|
|  3|    Rock in the Park|    Green Day|         70|       Chicago|
| 13|    Rock in the Park|    Green Day|         70|       Seattle|
| 23|    Rock in the Park|    Green Day|         70| San Francisco|
|  2|   Winter Jazz Night|  John Legend|         80|      New York|
| 12|   Winter Jazz Night|  John Legend|         80|        London|
| 22|   Winter Jazz Night|  John Legend|         80|        Berlin|
|  5|  Country Music Fest|   Luke Bryan|         90|     Nashville|
| 15|  Country Music Fest|   Luke Bryan|         90|        Austin|
| 25|  Country Music Fest|   Luke Bryan|         90|        Dallas|
| 10|  Latin Dance Fiesta|      Shakira|         95|     Barcelona|
| 20|  Latin Dance Fiesta|      Shakira|         95|Rio de Janeiro|
| 30|  Latin Dance Fiesta|      Shakira|         95|   Mexico City|
|  9|    Indie Music Fest|  Tame Impala|         85|     Melbourne|
| 19|    Indie Music Fest|  Tame Impala|         85|        Sydney|
| 29|    Indie Music Fest|  Tame Impala|         85|         Perth|
|  7|   Classical Concert|     Yo-Yo Ma|         75|        Boston|
| 17|   Classical Concert|     Yo-Yo Ma|         75|    Washington|
| 27|   Classical Concert|     Yo-Yo Ma|         75|       Chicago|
+---+--------------------+-------------+-----------+--------------+

In [12]:
spark.sql("select * from iceberg.db.Events.snapshots").show()

+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|          parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|2023-08-21 19:26:...|8811495956220048118|               null|   append|iceberg-warehouse...|{spark.app.id -> ...|
|2023-08-21 19:26:...|3025969424887905520|8811495956220048118|   append|iceberg-warehouse...|{spark.app.id -> ...|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+

In [13]:
spark.sql("select * from iceberg.db.Events VERSION AS OF 'tag1_21Aug' ").show(50)

+---+--------------------+-------------+-----------+--------------+
| id|                name|       artist|entry_price|          city|
+---+--------------------+-------------+-----------+--------------+
|  1|Summer Music Fest...|Ariana Grande|        100|   Los Angeles|
| 11|Summer Music Fest...|Ariana Grande|        100|         Paris|
| 21|Summer Music Fest...|Ariana Grande|        100|         Tokyo|
|  8|       Reggae Nights|   Bob Marley|         60|      Kingston|
| 18|       Reggae Nights|   Bob Marley|         60|   Montego Bay|
| 28|       Reggae Nights|   Bob Marley|         60|     Ocho Rios|
|  4|          EDM Nights|Calvin Harris|        120|     Las Vegas|
| 14|          EDM Nights|Calvin Harris|        120|         Miami|
| 24|          EDM Nights|Calvin Harris|        120|   New Orleans|
|  6|    Hip Hop Showcase|        Drake|        110|       Toronto|
| 16|    Hip Hop Showcase|        Drake|        110|       Atlanta|
| 26|    Hip Hop Showcase|        Drake|        110|       Houston|
|  3|    Rock in the Park|    Green Day|         70|       Chicago|
| 13|    Rock in the Park|    Green Day|         70|       Seattle|
| 23|    Rock in the Park|    Green Day|         70| San Francisco|
|  2|   Winter Jazz Night|  John Legend|         80|      New York|
| 12|   Winter Jazz Night|  John Legend|         80|        London|
| 22|   Winter Jazz Night|  John Legend|         80|        Berlin|
|  5|  Country Music Fest|   Luke Bryan|         90|     Nashville|
| 15|  Country Music Fest|   Luke Bryan|         90|        Austin|
| 25|  Country Music Fest|   Luke Bryan|         90|        Dallas|
| 10|  Latin Dance Fiesta|      Shakira|         95|     Barcelona|
| 20|  Latin Dance Fiesta|      Shakira|         95|Rio de Janeiro|
| 30|  Latin Dance Fiesta|      Shakira|         95|   Mexico City|
|  9|    Indie Music Fest|  Tame Impala|         85|     Melbourne|
| 19|    Indie Music Fest|  Tame Impala|         85|        Sydney|
| 29|    Indie Music Fest|  Tame Impala|         85|         Perth|
|  7|   Classical Concert|     Yo-Yo Ma|         75|        Boston|
| 17|   Classical Concert|     Yo-Yo Ma|         75|    Washington|
| 27|   Classical Concert|     Yo-Yo Ma|         75|       Chicago|
+---+--------------------+-------------+-----------+--------------+

# Branches

In [14]:
spark.sql("ALTER TABLE iceberg.db.Events CREATE BRANCH B1")

23/08/21 19:26:45 WARN BaseTransaction: Failed to load metadata for a committed snapshot, skipping clean-up

DataFrame[]

In [15]:
spark.sql("SELECT * FROM iceberg.db.Events.refs").show()

+----------+------+-------------------+-----------------------+---------------------+----------------------+
|      name|  type|        snapshot_id|max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+----------+------+-------------------+-----------------------+---------------------+----------------------+
|      main|BRANCH|3025969424887905520|                   null|                 null|                  null|
|tag1_21Aug|   TAG|8811495956220048118|                   null|                 null|                  null|
|        B1|BRANCH|3025969424887905520|                   null|                 null|                  null|
+----------+------+-------------------+-----------------------+---------------------+----------------------+

In [16]:
schema = spark.table("iceberg.db.Events").schema
data = [
    (33, "DayLight Show", "Dua Lipa",100,'Kanses'),
    (33, "DayLight Show", "Sean Paul",120,'New Jersey'),
    (8, "Beach Party","DJ Snake", 220,"Santa Monica")
  ]
df = spark.createDataFrame(data, schema)

In [17]:
df.write.format("iceberg").option("branch","B1").mode("overwrite").save("iceberg.db.Events")

In [18]:
spark.sql("SELECT * FROM iceberg.db.Events.refs").show()

+----------+------+-------------------+-----------------------+---------------------+----------------------+
|      name|  type|        snapshot_id|max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+----------+------+-------------------+-----------------------+---------------------+----------------------+
|      main|BRANCH|3025969424887905520|                   null|                 null|                  null|
|tag1_21Aug|   TAG|8811495956220048118|                   null|                 null|                  null|
|        B1|BRANCH|8277665623436286469|                   null|                 null|                  null|
+----------+------+-------------------+-----------------------+---------------------+----------------------+

In [20]:
spark.sql("select * from iceberg.db.Events version as of 'B1' ").show()

+---+-------------+---------+-----------+------------+
| id|         name|   artist|entry_price|        city|
+---+-------------+---------+-----------+------------+
|  8|  Beach Party| DJ Snake|        220|Santa Monica|
| 33|DayLight Show| Dua Lipa|        100|      Kanses|
| 33|DayLight Show|Sean Paul|        120|  New Jersey|
+---+-------------+---------+-----------+------------+

In [21]:
spark.sql("select * from iceberg.db.Events").show(50)

+---+--------------------+-------------+-----------+--------------+
| id|                name|       artist|entry_price|          city|
+---+--------------------+-------------+-----------+--------------+
|  1|Summer Music Fest...|Ariana Grande|        100|   Los Angeles|
| 11|Summer Music Fest...|Ariana Grande|        100|         Paris|
| 21|Summer Music Fest...|Ariana Grande|        100|         Tokyo|
| 31|   MoonLight Concert|      Weekend|        200|     Cupertino|
| 32|   MoonLight Concert|      Weekend|        200|      Bay Area|
|  8|       Reggae Nights|   Bob Marley|         60|      Kingston|
| 18|       Reggae Nights|   Bob Marley|         60|   Montego Bay|
| 28|       Reggae Nights|   Bob Marley|         60|     Ocho Rios|
|  4|          EDM Nights|Calvin Harris|        120|     Las Vegas|
| 14|          EDM Nights|Calvin Harris|        120|         Miami|
| 24|          EDM Nights|Calvin Harris|        120|   New Orleans|
|  6|    Hip Hop Showcase|        Drake|        110|       Toronto|
| 16|    Hip Hop Showcase|        Drake|        110|       Atlanta|
| 26|    Hip Hop Showcase|        Drake|        110|       Houston|
|  3|    Rock in the Park|    Green Day|         70|       Chicago|
| 13|    Rock in the Park|    Green Day|         70|       Seattle|
| 23|    Rock in the Park|    Green Day|         70| San Francisco|
|  2|   Winter Jazz Night|  John Legend|         80|      New York|
| 12|   Winter Jazz Night|  John Legend|         80|        London|
| 22|   Winter Jazz Night|  John Legend|         80|        Berlin|
|  5|  Country Music Fest|   Luke Bryan|         90|     Nashville|
| 15|  Country Music Fest|   Luke Bryan|         90|        Austin|
| 25|  Country Music Fest|   Luke Bryan|         90|        Dallas|
| 10|  Latin Dance Fiesta|      Shakira|         95|     Barcelona|
| 20|  Latin Dance Fiesta|      Shakira|         95|Rio de Janeiro|
| 30|  Latin Dance Fiesta|      Shakira|         95|   Mexico City|
|  9|    Indie Music Fest|  Tame Impala|         85|     Melbourne|
| 19|    Indie Music Fest|  Tame Impala|         85|        Sydney|
| 29|    Indie Music Fest|  Tame Impala|         85|         Perth|
|  7|   Classical Concert|     Yo-Yo Ma|         75|        Boston|
| 17|   Classical Concert|     Yo-Yo Ma|         75|    Washington|
| 27|   Classical Concert|     Yo-Yo Ma|         75|       Chicago|
+---+--------------------+-------------+-----------+--------------+