In [1]:
import os
import pyspark
from pyspark.sql import SparkSession

In [2]:
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
  		#packages
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.3.1,software.amazon.awssdk:bundle:2.17.178,software.amazon.awssdk:url-connection-client:2.17.178')
  		#SQL Extensions
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions')
  		#Configuring Catalog
        .set('spark.sql.catalog.spark_catalog','org.apache.iceberg.spark.SparkSessionCatalog')
        .set('spark.sql.catalog.spark_catalog.type','hive')
        .set('spark.sql.catalog.iceberg', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.iceberg.type', 'hadoop')
        .set('spark.sql.catalog.iceberg.warehouse', 'iceberg-warehouse')
)

In [3]:
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

:: loading settings :: url = jar:file:/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/anshumanr/.ivy2/cache
The jars for the packages stored in: /Users/anshumanr/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.4_2.12 added as a dependency
software.amazon.awssdk#bundle added as a dependency
software.amazon.awssdk#url-connection-client added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-7b770733-d415-42d1-bfac-430c103995bd;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.3.1 in central
	found software.amazon.awssdk#bundle;2.17.178 in central
	found software.amazon.eventstream#eventstream;1.0.1 in central
	found software.amazon.awssdk#url-connection-client;2.17.178 in central
	found software.amazon.awssdk#utils;2.17.178 in central
	found org.reactivestreams#reactive-streams;1.0.3 in central
	found software.amazon.awssdk#annotations;2.17.178 in central
	found org.slf4j#slf4j-api;1.7.30 in local-m2-cache
	found software.amazon.awssdk#http-client-spi;2.17.178 in central
	found software.amazon.awssdk#metrics-spi;2.17.178 in central
:: resolution report :: resolve 858ms :: artifacts dl 72ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.3.1 from central in [default]
	org.reactivestreams#reactive-streams;1.0.3 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from local-m2-cache in [default]
	software.amazon.awssdk#annotations;2.17.178 from central in [default]
	software.amazon.awssdk#bundle;2.17.178 from central in [default]
	software.amazon.awssdk#http-client-spi;2.17.178 from central in [default]
	software.amazon.awssdk#metrics-spi;2.17.178 from central in [default]
	software.amazon.awssdk#url-connection-client;2.17.178 from central in [default]
	software.amazon.awssdk#utils;2.17.178 from central in [default]
	software.amazon.eventstream#eventstream;1.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   0   ||   10  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-7b770733-d415-42d1-bfac-430c103995bd
	confs: [default]
	0 artifacts copied, 10 already retrieved (0kB/16ms)
23/08/16 16:48:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Spark Running

In [24]:
spark.sql("Create table iceberg.db.tab1(order_id integer,customer_id integer,order_amount double,order_ts timestamp,hour_ts integer) using iceberg partitioned by (hour_ts);").show()

++
||
++
++

In [25]:
spark.sql('''INSERT INTO iceberg.db.tab1 (order_id, customer_id, order_amount, order_ts, hour_ts)
VALUES
  (1, 101, 50.0, Timestamp('2023-08-16 10:15:00'), 10),
  (2, 102, 75.0, Timestamp('2023-08-16 11:30:00'), 11),
  (3, 103, 100.0, Timestamp('2023-08-16 12:45:00'), 12),
  (4, 104, 25.0, timestamp('2023-08-16 13:15:00'), 13),
  (5, 105, 150.0, timestamp('2023-08-16 14:30:00'), 14),
  (6, 106, 200.0, timestamp('2023-08-16 15:45:00'), 15),
  (7, 107, 70.0, timestamp('2023-08-16 16:00:00'), 16),
  (8, 108, 80.0, timestamp('2023-08-16 17:15:00'), 17),
  (9, 109, 120.0, timestamp('2023-08-16 18:30:00'), 18),
  (10, 110, 90.0, timestamp('2023-08-16 19:45:00'), 19),
  (11, 111, 200.0, timestamp('2023-08-16 10:30:00'), 10),
  (12, 112, 40.0, timestamp('2023-08-16 11:45:00'), 11),
  (13, 113, 60.0, timestamp('2023-08-16 12:00:00'), 12),
  (14, 114, 175.0, timestamp('2023-08-16 13:15:00'), 13),
  (15, 115, 90.0, timestamp('2023-08-16 14:30:00'), 14),
  (16, 116, 300.0, timestamp('2023-08-16 15:45:00'), 15),
  (17, 117, 50.0, timestamp('2023-08-16 16:00:00'), 16),
  (18, 118, 225.0, timestamp('2023-08-16 17:15:00'), 17),
  (19, 119, 30.0, timestamp('2023-08-16 18:30:00'), 18),
  (20, 120, 150.0, timestamp('2023-08-16 19:45:00'), 19);
''')

DataFrame[]

In [27]:
spark.sql("select * from iceberg.db.tab1").show()

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|       1|        101|        50.0|2023-08-16 10:15:00|     10|
|      11|        111|       200.0|2023-08-16 10:30:00|     10|
|       2|        102|        75.0|2023-08-16 11:30:00|     11|
|      12|        112|        40.0|2023-08-16 11:45:00|     11|
|       3|        103|       100.0|2023-08-16 12:45:00|     12|
|      13|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.0|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|       5|        105|       150.0|2023-08-16 14:30:00|     14|
|      15|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.0|2023-08-16 15:45:00|     15|
|      16|        116|       300.0|2023-08-16 15:45:00|     15|
|       7|        107|        70.0|2023-08-16 16:00:00|     16|
|      17|        117|        50.0|2023-08-16 16:00:00|     16|
|       8|        108|        80.0|2023-08-16 17:15:00|     17|
|      18|        118|       225.0|2023-08-16 17:15:00|     17|
|       9|        109|       120.0|2023-08-16 18:30:00|     18|
|      19|        119|        30.0|2023-08-16 18:30:00|     18|
|      10|        110|        90.0|2023-08-16 19:45:00|     19|
|      20|        120|       150.0|2023-08-16 19:45:00|     19|
+--------+-----------+------------+-------------------+-------+

In [28]:
spark.sql("Create table iceberg.db.tab2(order_id integer,customer_id integer,order_amount double,order_ts timestamp,hour_ts integer) using iceberg partitioned by (hour_ts);").show()

++
||
++
++

In [29]:
spark.sql('''INSERT INTO iceberg.db.tab2 (order_id, customer_id, order_amount, order_ts, hour_ts)
VALUES
  (21, 101, 50.0, Timestamp('2023-08-16 10:15:00'), 10),
  (2, 102, 75.5, Timestamp('2023-08-16 11:30:00'), 11),
  (9, 103, 100.1, Timestamp('2023-08-16 12:45:00'), 12),
  (4, 104, 25.4, timestamp('2023-08-16 13:15:00'), 13),
  (1, 105, 150.9, timestamp('2023-08-16 14:30:00'), 14),
  (6, 106, 200.8, timestamp('2023-08-16 15:45:00'), 15),
  (27, 107, 70.0, timestamp('2023-08-16 16:00:00'), 16),
  (28, 108, 80.0, timestamp('2023-08-16 17:15:00'), 17),
  (29, 109, 120.0, timestamp('2023-08-16 18:30:00'), 18),
  (22, 110, 90.0, timestamp('2023-08-16 19:45:00'), 19),
  (31, 111, 200.0, timestamp('2023-08-16 10:30:00'), 10),
  (32, 112, 40.0, timestamp('2023-08-16 11:45:00'), 11),
  (23, 113, 60.0, timestamp('2023-08-16 12:00:00'), 12),
  (14, 114, 175.0, timestamp('2023-08-16 13:15:00'), 13),
  (35, 115, 90.0, timestamp('2023-08-16 14:30:00'), 14),
  (36, 116, 300.0, timestamp('2023-08-16 15:45:00'), 15),
  (37, 117, 50.0, timestamp('2023-08-16 16:00:00'), 16),
  (18, 118, 225.0, timestamp('2023-08-16 17:15:00'), 17),
  (49, 119, 30.0, timestamp('2023-08-16 18:30:00'), 18),
  (20, 120, 150.5, timestamp('2023-08-16 19:45:00'), 19);
''')

DataFrame[]

In [30]:
spark.sql("select * from iceberg.db.tab2").show()

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|      21|        101|        50.0|2023-08-16 10:15:00|     10|
|      31|        111|       200.0|2023-08-16 10:30:00|     10|
|       2|        102|        75.5|2023-08-16 11:30:00|     11|
|      32|        112|        40.0|2023-08-16 11:45:00|     11|
|       9|        103|       100.1|2023-08-16 12:45:00|     12|
|      23|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.4|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|       1|        105|       150.9|2023-08-16 14:30:00|     14|
|      35|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.8|2023-08-16 15:45:00|     15|
|      36|        116|       300.0|2023-08-16 15:45:00|     15|
|      27|        107|        70.0|2023-08-16 16:00:00|     16|
|      37|        117|        50.0|2023-08-16 16:00:00|     16|
|      28|        108|        80.0|2023-08-16 17:15:00|     17|
|      18|        118|       225.0|2023-08-16 17:15:00|     17|
|      29|        109|       120.0|2023-08-16 18:30:00|     18|
|      49|        119|        30.0|2023-08-16 18:30:00|     18|
|      22|        110|        90.0|2023-08-16 19:45:00|     19|
|      20|        120|       150.5|2023-08-16 19:45:00|     19|
+--------+-----------+------------+-------------------+-------+

In [31]:
spark.sql('''Merge into iceberg.db.tab1
using (select * from iceberg.db.tab2) t 
on iceberg.db.tab1.order_id = t.order_id
when matched then update set iceberg.db.tab1.order_amount = t.order_amount
when not matched then insert *
''')

DataFrame[]

In [32]:
spark.sql("select * from iceberg.db.tab1").show(50)

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|       1|        101|       150.9|2023-08-16 10:15:00|     10|
|      11|        111|       200.0|2023-08-16 10:30:00|     10|
|      21|        101|        50.0|2023-08-16 10:15:00|     10|
|      31|        111|       200.0|2023-08-16 10:30:00|     10|
|       2|        102|        75.5|2023-08-16 11:30:00|     11|
|      12|        112|        40.0|2023-08-16 11:45:00|     11|
|      32|        112|        40.0|2023-08-16 11:45:00|     11|
|      23|        113|        60.0|2023-08-16 12:00:00|     12|
|       3|        103|       100.0|2023-08-16 12:45:00|     12|
|      13|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.4|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|       5|        105|       150.0|2023-08-16 14:30:00|     14|
|      15|        115|        90.0|2023-08-16 14:30:00|     14|
|      35|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.8|2023-08-16 15:45:00|     15|
|      16|        116|       300.0|2023-08-16 15:45:00|     15|
|      36|        116|       300.0|2023-08-16 15:45:00|     15|
|       7|        107|        70.0|2023-08-16 16:00:00|     16|
|      17|        117|        50.0|2023-08-16 16:00:00|     16|
|      27|        107|        70.0|2023-08-16 16:00:00|     16|
|      37|        117|        50.0|2023-08-16 16:00:00|     16|
|       8|        108|        80.0|2023-08-16 17:15:00|     17|
|      18|        118|       225.0|2023-08-16 17:15:00|     17|
|      28|        108|        80.0|2023-08-16 17:15:00|     17|
|       9|        109|       100.1|2023-08-16 18:30:00|     18|
|      19|        119|        30.0|2023-08-16 18:30:00|     18|
|      29|        109|       120.0|2023-08-16 18:30:00|     18|
|      49|        119|        30.0|2023-08-16 18:30:00|     18|
|      10|        110|        90.0|2023-08-16 19:45:00|     19|
|      20|        120|       150.5|2023-08-16 19:45:00|     19|
|      22|        110|        90.0|2023-08-16 19:45:00|     19|
+--------+-----------+------------+-------------------+-------+

# Time Traveling using snapshot-id

In [47]:
spark.sql("select * from iceberg.db.tab1 Version AS OF '7800989837212063210'").show()

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|       1|        101|        50.0|2023-08-16 10:15:00|     10|
|      11|        111|       200.0|2023-08-16 10:30:00|     10|
|       2|        102|        75.0|2023-08-16 11:30:00|     11|
|      12|        112|        40.0|2023-08-16 11:45:00|     11|
|       3|        103|       100.0|2023-08-16 12:45:00|     12|
|      13|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.0|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|       5|        105|       150.0|2023-08-16 14:30:00|     14|
|      15|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.0|2023-08-16 15:45:00|     15|
|      16|        116|       300.0|2023-08-16 15:45:00|     15|
|       7|        107|        70.0|2023-08-16 16:00:00|     16|
|      17|        117|        50.0|2023-08-16 16:00:00|     16|
|       8|        108|        80.0|2023-08-16 17:15:00|     17|
|      18|        118|       225.0|2023-08-16 17:15:00|     17|
|       9|        109|       120.0|2023-08-16 18:30:00|     18|
|      19|        119|        30.0|2023-08-16 18:30:00|     18|
|      10|        110|        90.0|2023-08-16 19:45:00|     19|
|      20|        120|       150.0|2023-08-16 19:45:00|     19|
+--------+-----------+------------+-------------------+-------+

# Time traveling using Timestamp

In [60]:
spark.sql("select * from iceberg.db.tab1 TIMESTAMP AS OF '2023-08-16 17:01:00'").show()

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|       1|        101|        50.0|2023-08-16 10:15:00|     10|
|      11|        111|       200.0|2023-08-16 10:30:00|     10|
|       2|        102|        75.0|2023-08-16 11:30:00|     11|
|      12|        112|        40.0|2023-08-16 11:45:00|     11|
|       3|        103|       100.0|2023-08-16 12:45:00|     12|
|      13|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.0|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|       5|        105|       150.0|2023-08-16 14:30:00|     14|
|      15|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.0|2023-08-16 15:45:00|     15|
|      16|        116|       300.0|2023-08-16 15:45:00|     15|
|       7|        107|        70.0|2023-08-16 16:00:00|     16|
|      17|        117|        50.0|2023-08-16 16:00:00|     16|
|       8|        108|        80.0|2023-08-16 17:15:00|     17|
|      18|        118|       225.0|2023-08-16 17:15:00|     17|
|       9|        109|       120.0|2023-08-16 18:30:00|     18|
|      19|        119|        30.0|2023-08-16 18:30:00|     18|
|      10|        110|        90.0|2023-08-16 19:45:00|     19|
|      20|        120|       150.0|2023-08-16 19:45:00|     19|
+--------+-----------+------------+-------------------+-------+

In [61]:
spark.sql("select * from iceberg.db.tab1 TIMESTAMP AS OF '2023-08-16 17:02:00'").show()

+--------+-----------+------------+-------------------+-------+
|order_id|customer_id|order_amount|           order_ts|hour_ts|
+--------+-----------+------------+-------------------+-------+
|       3|        103|       100.0|2023-08-16 12:45:00|     12|
|      13|        113|        60.0|2023-08-16 12:00:00|     12|
|       1|        101|       150.9|2023-08-16 10:15:00|     10|
|      11|        111|       200.0|2023-08-16 10:30:00|     10|
|      21|        101|        50.0|2023-08-16 10:15:00|     10|
|      31|        111|       200.0|2023-08-16 10:30:00|     10|
|       5|        105|       150.0|2023-08-16 14:30:00|     14|
|      15|        115|        90.0|2023-08-16 14:30:00|     14|
|       7|        107|        70.0|2023-08-16 16:00:00|     16|
|      17|        117|        50.0|2023-08-16 16:00:00|     16|
|       2|        102|        75.5|2023-08-16 11:30:00|     11|
|      12|        112|        40.0|2023-08-16 11:45:00|     11|
|      32|        112|        40.0|2023-08-16 11:45:00|     11|
|      23|        113|        60.0|2023-08-16 12:00:00|     12|
|       4|        104|        25.4|2023-08-16 13:15:00|     13|
|      14|        114|       175.0|2023-08-16 13:15:00|     13|
|      35|        115|        90.0|2023-08-16 14:30:00|     14|
|       6|        106|       200.8|2023-08-16 15:45:00|     15|
|      16|        116|       300.0|2023-08-16 15:45:00|     15|
|      36|        116|       300.0|2023-08-16 15:45:00|     15|
+--------+-----------+------------+-------------------+-------+
only showing top 20 rows